<div class="card-comment">
            <p id="review-<%= review.id %>"><%= review.comment %><br></p>
            <small>
            <strong>Licorne n°<%= review.user.id %></strong>
            <i><%= review.created_at.strftime("%a %b %e at %l:%M %p") %></i>
            <% if review.user.id == current_user.id %>
              <%= link_to "edit", edit_review_path(review) %>
              <%= link_to "delete", review_path(review), method: :delete %>
            <% end %>
</div>
