<div>
  <script src="https://unpkg.com/scandit-sdk@5.x"></script>
  <div id="scandit-barcode-picker" style ="width:400px; heigth:400px;"></div>
</div>
<div class="d-none">
  <%= simple_form_for @product, method: :post  do |f| %>
  <%= f.input :name %>
  <%= f.input :composition %>
  <%= f.input :image %>
  <% end %>
</div>


<div class="redirection-links d-flex justify-content-center mt-5">
  <a href="/search" class="btn btn-search" role="button" aria-pressed="true"><i class="fa-solid fa-magnifying-glass"></i> Recherche</a>
</div>

<%#
<div class="redirection-links d-flex justify-content-evenly mt-4">
  <%= link_to products_path(@product), class:  "btn btn-search" do %>
  <%# <i class="fa-solid fa-magnifying-glass"></i><p>Page produit</p> %>
  <%# <% end %>
<%# </div> %>

<div class="d-flex justify-content-around fixed-bottom">
  <a href="/products/665" class="link-secondary "></i> ROUGE </a>
  <a href="/products/664" class="link-secondary"></i> ORANGE </a>
  <a href="/products/666" class="link-secondary"></i> VERT </a>
</div>
