<% @product.id = params[:id] %>
<div class="hello">
  <div class="card-product">
    <%= image_tag @product.image, crop: :fill %>
    <div class="card-product-infos">
      <%# <h2>Product name</h2> %>
      <h2><%= @product.name %></h2>
      <% if @product.category.id == 3 %>
        <%= image_tag "Licorne-verte.png" %>
      <% elsif @product.category.id == 1 %>
        <%= image_tag "Licorne-rouge.png"%>
      <% else @product.category.id == 2 %>
        <%= image_tag "Licorne-orange.png"%>
      <% end %>
    </div>
  </div>
</div>

<div class="description-vert text-center d-flex flex-column">
  <%# <h2>Tout est bon dans Pom'Potes Pomme Nature !</h2> %>
  <%# <h2>Tout est bon dans <%= @product.name%>
  <% if @product.category.id == 3 %>
        <h2>Tout est bon dans <strong><%= @product.name%></strong>!</h2>
  <% elsif @product.category.id == 2 %>
        <h2>Vérifier la compatibilité de <strong><%= @product.name%></strong> en fonction de votre degré d'intolérance</h2>
        <p>En savoir plus: <a href="#">fromage</a>
        <a href="#"> chocolat</a>
        <a href="#"> charcuterie</a>
        <a href="#"> beurre</a>
        <a href="#"> ferment lactiques</a></p>
  <% else @product.category.id == 1 %>
        <h2><strong><%= @product.name%></strong> ne convient pas aux intolérants au lactose!</h2>
  <% end %>
</div>

<div class="tabs">
  <ul class="list-inline tabs-underlined d-flex justify-content-between pt-2">
    <li>
      <a href="#" class="tab-underlined active">Composition</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Commentaires</a>
    </li>
  </ul>
</div>

<div class="big-card1">
  <p><%= @product.composition%></p>
</div>

<div class="big-card2">
  <div id="reviews">
    <% if @product.reviews.blank? %>
      Be the first to leave a review for <strong><%= @product.name %></strong>
    <% else %>
      <% @product.reviews.each do |review| %>
        <p id="review-<%= review.id %>"><%= review.comment %></p>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for([ @product, @review ], remote: true) do |f| %>
  <%= f.input :comment, as: :text, label: "Votre commentaire:" %>
  <%= f.button :submit, class: "blue-btn1", value: 'Envoyer' %>
<% end %>
</div>

<div class="redirection-links d-flex justify-content-evenly mt-4 fixed-bottom">
  <a href="/products/new" class="btn btn-scan" role="button" aria-pressed="true"><i class="fa-solid fa-barcode"></i> Scan</a>
  <a href="/search" class="btn btn-search" role="button" aria-pressed="true"><i class="fa-solid fa-magnifying-glass"></i> Recherche</a>
</div>
