<% @product.id = params[:id] %>
<div class="hello">
  <div class="card-product">
    <%= image_tag @product.image %>
    <div class="card-product-infos">
      <h2><%= @product.name %></h2>
      <% if @product.category.name == "green" %>
        <%= image_tag "Licorne-verte.png" %>
      <% elsif @product.category.name == "red" %>
        <%= image_tag "Licorne-rouge.png"%>
      <% else @product.category.name == "orange" %>
        <%= image_tag "Licorne-orange.png"%>
      <% end %>
    </div>
  </div>
</div>

<div class="description text-center d-flex flex-column">
  <%# <h2>Tout est bon dans Pom'Potes Pomme Nature !</h2> %>
  <%# <h2>Tout est bon dans <%= @product.name%>
  <% if @product.category.name == "green" %>
        <h2>Tout est bon dans <strong><%= @product.name%></strong>!</h2>
  <% elsif @product.category.name == "orange" %>
        <h2>Vérifier la compatibilité de <strong><%= @product.name%></strong> en fonction de votre degré d'intolérance</h2>
        <p><em>En savoir plus:</em> <a href="../information#fromage" class="text-decoration-none"><strong>Fromage -</strong></a>
        <a href="../information#chocolat" class="text-decoration-none"> <strong>Chocolat -</strong></a>
        <a href="../information#charcuterie" class="text-decoration-none"> <strong>Charcuterie -</strong></a>
        <a href="../information#beurre" class="text-decoration-none"> <strong>Beurre -</strong></a>
        <a href="../information#ferments" class="text-decoration-none"> <strong>Ferment lactiques</strong></a></p>
  <% else @product.category.name == "red" %>
        <h2><strong><%= @product.name%></strong> ne convient pas aux intolérants au lactose!</h2>
        <a href="../board" class="text-decoration-none"><strong>Teneur en lactose des produits laitiers</strong></a>
  <% end %>
</div>


<ul class="nav nav-tabs d-flex justify-content-around bg-light" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="composition-tab" data-bs-toggle="tab" data-bs-target="#composition" type="button" role="tab" aria-controls="composition" aria-selected="true">Composition</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="comment-tab" data-bs-toggle="tab" data-bs-target="#comment" type="button" role="tab" aria-controls="comment" aria-selected="false">Commentaires</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show big-card1 active" id="composition" role="tabpanel" aria-labelledby="composition-tab">
    <p><%=@product.composition %></p>
  </div>

  <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend" class="tab-pane fade big-card2" id="comment" role="tabpanel" aria-labelledby="comment-tab">
    <div data-insert-in-list-target="items" id="reviews">
      <% if @product.reviews.blank? %>
        Be the first to leave a review for <strong><%= @product.name %></strong>
      <% else %>
        <% @product.reviews.each do |review| %>
          <p id="review-<%= review.id %>"><%= review.comment %>
          <small>
          <strong>Invité n°<%= review.user.id %></strong>
          <i><%= review.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        </p>
        <% end %>
      <% end %>
    </div>
        <%= simple_form_for([ @product, @review ],
                            data: { insert_in_list_target: "form",
                            action: "submit->insert-in-list#send"
                            }) do |f| %>
          <%= f.input :comment, as: :text, label: "Votre commentaire:"  %>
          <%= f.button :submit, class: "blue-btn1", value: 'Envoyer' %>
        <% end %>
    </div>



      <%# <% if @product.reviews.blank? %>
        <%# Be the first to leave a review for <strong><%= @product.name %>
      <%# <% else %>
        <%# <% @product.reviews.each do |review| %>
          <%# <p id="review-<%= review.id %>
        <%# <% end %>
      <%# <% end %>
    <%# </div> %>
    <%# <%= simple_form_for([ @product, @review ],
                          data: { insert_in_list_target: "form",
                          action: "submit->insert-in-list#send"
                           })  do |f| %>
    <%# <%= f.input :comment, as: :text, label: "Votre commentaire:" %>
    <%# <%= f.button :submit, class: "blue-btn1", value: 'Envoyer' %>
    <%# <% end %>
</div>


<div class="redirection-links d-flex justify-content-evenly mt-4 fixed-bottom">
  <a href="/products/new" class="btn btn-scan" role="button" aria-pressed="true"><i class="fa-solid fa-barcode"></i> Scan</a>
  <a href="/search" class="btn btn-search" role="button" aria-pressed="true"><i class="fa-solid fa-magnifying-glass"></i> Recherche</a>
</div>
